/* GERAIS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    background-color: gray;
}

p {
    font-size: 20px;
    text-align: center;
}

/* CABEÇALHO */

header {
    padding: 20px 70px;
    text-align: center;
    background-color: rgb(175, 175, 175);
    position: sticky;
    top: 0px;
}

h1 {
    margin-bottom: 10px;
    font-family: "Tektur", sans-serif;
    text-shadow: 2px 2px 1px rgb(102, 255, 31);
}

header p {
    font-family: "Pixelify Sans", sans-serif;
}

/* PRINCIPAL */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#container1 {
    display: flex;
    gap: 20px;
}

#registroNumeros {
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
    position: relative;
    overflow: auto;
}

#numero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    transition: top 0.3s ease;
}



#telaCentral {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

#descricaoSpeciais {
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: "Pixelify Sans", sans-serif;
}

#speciais {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* TELA FINAL */

#alinhaGO {
    display: flex;
    position: relative;
    bottom: 300px;
    justify-content: center;
    align-items: center;
}

#gameOver {
    display: none;
    width: 350px;
    height: 250px;
    background-color: rgb(193, 0, 0);
    color: white;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#telaVitoria {
    display: none;
    width: 350px;
    height: 250px;
    background-color: rgb(40, 222, 16);
    color: white;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

